<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Poker_Wizard.Properties.SavedSettings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Poker_Wizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Poker_Wizard.Properties.SavedSettings1>
            <setting name="Blinds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bounties" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumberOfStartingPlayers" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SecondsPerPlayer" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="StartingChips" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="BuyInPrice" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaximumPlayers" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="LowTime" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="MinimumRoundMinutes" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="LowMinutes" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaximumRoundMinutes" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MaximumRounds" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="LastRebuyRound" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="StartingPlayerNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Shawn</string>
                        <string>Jeremy</string>
                        <string>Lucas</string>
                        <string>Christy</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MaximumRebuys" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="UniqueBlindRounds" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="ExistingLocations" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="ResultsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="GameLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedName" serializeAs="String">
                <value />
            </setting>
        </Poker_Wizard.Properties.SavedSettings1>
        <Poker_Wizard.Properties.Settings>
            <setting name="Blinds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bounties" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumberOfStartingPlayers" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SecondsPerPlayer" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="StartingChips" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="BuyInPrice" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaximumPlayers" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="LowTime" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="MinimumRoundMinutes" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="LowMinutes" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaximumRoundMinutes" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MaximumRounds" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="LastRebuyRound" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="StartingPlayerNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Shawn</string>
                        <string>Jeremy</string>
                        <string>Lucas</string>
                        <string>Christy</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MaximumRebuys" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="UniqueBlindRounds" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="ExistingLocations" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="ResultsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="GameLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="IniFile" serializeAs="String">
                <value>pokerWizard.ini</value>
            </setting>
            <setting name="IniSection" serializeAs="String">
                <value>default</value>
            </setting>
        </Poker_Wizard.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
